#prompts.screen
    h2 Story Prompts
    #app
        #intro
            p Sometimes you need an idea to get your story started. How about...
        #prompt
            #adjective &nbsp; 
            #noun
        div#postPrompt
            #couldyou Questions here!
            button#spin SPIN!
            