#starters.screen

    h2 Story Starters

    p A good opening will make people want to read your story, but it can also help you write it. You can set the mood of your story, introduce your characters, or create a little mystery from the start.

    p Take a look at some of our #[a(href="#startersClassics" data-id="startersClassics").show favourite opening lines] from famous books and stories.

    //p Or try writing story using this as a first line: 

    //#starter

    //p No good? #[a(href="")#newStarter Try another!]

#startersClassics.screen

    h2 Story Starters: Classics

    p Here are the opening lines of some classic books and stories.

    p Do they make you want to read on and learn more about the characters, or the world, or what might happen?

    p Can you think of some ways to give your story a memorable first line?

    p Read these? #[a(href="")#newClassics Try some more!]

    #quotes
        